Se agradecería que se pusieran las versiones concretas para replicar de manera exacta y no hayan disonancias

pandas
numpy
pydantic
pydantic_settings
pandas_profiling
ydata-profiling
Pyarrow
scikit-learn
shapely
geopandas
pygeos
pyshp
descartes
rtree
matplotlib